.header-container {
  margin: 0 auto;
  width: 1200px;
}

.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/src/assets/hero.svg);
}
