@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Rubik", sans-serif;
    font-family: "Roboto", sans-serif;
  }

  /* Sticky Footer - footer sticks to bottom when content smaller than container but is pushed down when content grows larger than container */

  html,
  body {
    /* min-height: 100%; */
    /* @apply min-h-full; */
  }
  #root {
    /* display: flex;
    flex-direction: column; */
    @apply flex;
    @apply flex-col;
    @apply min-h-screen;
  }
  main {
    /* flex: 1 0 auto; */
    @apply grow;
    @apply shrink-0;
    @apply basis-auto;
  }
  footer {
    /* flex-shrink: 0; */
    @apply shrink-0;
  }

  header {
    @apply bg-gray-700;
    /* @apply bg-gradient-to-r  from-teal-100 to-slate-800; */
    /* background: radial-gradient(
      circle at 10% 20%,
      rgb(220, 217, 249) 0%,
      rgb(172, 224, 217) 89.8%
    ); */
  }

  main,
  nav {
    margin: 0 auto;
    width: 1200px;
  }
}

@layer components {
}

/* Text editor height */

.ql-editor {
  min-height: 10rem;
}

.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/src/assets/hero.svg);
}

.header-container {
  margin: 0 auto;
  width: 1200px;
}

.event-overlay {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/174183675.jpg?k=79393dce82466d29c024af9cda164bfc4d99b1d9abafab632e44d9c7d1b069b7&o=&hp=1);
}
